<{if $block.recent_news_spotlight_title}>
	<div><h2><a href="<{$block.recent_news_spotlight_link}>"><{$block.recent_news_spotlight_title}></a></h2></div>

	<!-- handle spotlight (lead) image, if present -->

	<{if $block.recent_news_spotlight_image && $block.recent_news_spotlight_display_image !== '0'}>
		<{if $block.recent_news_spotlight_display_image == '1'}>
			<div style="float:left; margin: 0em 1em 1em 0em;">
		<{else}>
			<div style="float:right; margin: 0em 0em 1em 1em;">
		<{/if}>
				<a href="<{$block.recent_news_spotlight_link}>" title="<{$block.recent_news_spotlight_title}>">
					<{resized_image file=$block.recent_news_spotlight_image width=$block.recent_news_image_display_width height="999" fit="inside"}>
				</a>
			</div>
	<{/if}>

	<!-- end spotlight (lead) image) -->

	<div><{$block.recent_news_spotlight_description}></div>
	<{if $block.recent_news_articles}>
		<h3><{$block.recent_news_title}></h3>
	<{/if}>
<{/if}>
<{if $block.recent_news_display_mode}>
	<div>
		<{foreach item=recent_news_article from=$block.recent_news_articles}>
			<h3><{$recent_news_article.itemLink}></h3>
			<div class="itemInfo">
				<{if $recent_news_article.date}><{$smarty.const._MB_NEWS_RECENT_ARTICLES_PUBLISHED}>: <{$recent_news_article.date}><{/if}><{if $recent_news_article.counter}> | <{$recent_news_article.counter}> <{$smarty.const._MB_NEWS_RECENT_ARTICLES_VIEWS}>
					<{else}>
						<{if $recent_news_article.counter}><{$recent_news_article.counter}> <{$smarty.const._MB_NEWS_RECENT_ARTICLES_VIEWS}><{/if}>
					<{/if}>
					<{if $recent_news_article.tags}>
						<{if $recent_news_article.date || $recent_news_article.counter}> | 
							<{$recent_news_article.tags}>
						<{else}>
							<{$recent_news_article.tags}>
						<{/if}>
					<{/if}>
			</div>			
			<{if $recent_news_article.image && $recent_news_article.image_position && $recent_news_article.description}>
				<div style="<{$block.recent_news_image_position}>">
					<a href="<{$recent_news_article.url}>"><{resized_image file=$recent_news_article.image width=$block.recent_news_image_width height="999" fit="inside"}></a>
				</div>
			<{/if}>
			<div>
				<{$recent_news_article.description}>
			</div>			
		<{/foreach}>
	</div>
<{else}>
	<div>
		<ul>
			<{foreach item=recent_news_article from=$block.recent_news_articles}>
				<li><{$recent_news_article.itemLink}> (<{$recent_news_article.date}>)</li>
			<{/foreach}>
		</ul>
	</div>
<{/if}>